<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|sm","bottom":"var:preset|spacing|lg"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"lightest-grey","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-lightest-grey-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--sm);padding-bottom:var(--wp--preset--spacing--lg)"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|xs"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group alignwide"><!-- wp:woocommerce/breadcrumbs {"fontSize":"xs","fontFamily":"inconsolata","style":{"typography":{"textTransform":"uppercase"}}} /-->

<!-- wp:post-title {"level":1,"__woocommerceNamespace":"woocommerce/product-query/product-title"} /--></div>
<!-- /wp:group -->

<!-- wp:woocommerce/store-notices /-->

<!-- wp:torasenstore/variation-gallery -->
<p class="wp-block-torasenstore-variation-gallery">Variation Gallery – hello from the saved content!</p>
<!-- /wp:torasenstore/variation-gallery -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|lg","left":"var:preset|spacing|lg"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"75%"} -->
<div class="wp-block-column" style="flex-basis:75%"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|sm"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Configure</h2>
<!-- /wp:heading -->

<!-- wp:torasen/collection-logo /--></div>
<!-- /wp:group -->

<!-- wp:torasenstore/product-attributes /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:torasenstore/product-price -->
<p class="wp-block-torasenstore-product-price">Product Price – hello from the saved content!</p>
<!-- /wp:torasenstore/product-price -->

<!-- wp:woocommerce/add-to-cart-form /-->

<!-- wp:torasen/product-specification {"className":"wp-block-torasen-product-specification"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|lg","bottom":"var:preset|spacing|lg"},"padding":{"top":"0","bottom":"0"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--lg);margin-bottom:var(--wp--preset--spacing--lg);padding-top:0;padding-bottom:0"><!-- wp:torasen/related-products /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->