@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p:first-child {
		@apply mt-0;
	}
	p:last-child {
		@apply mb-0;
	}
    b, strong {
        @apply font-medium;
    }
}

/******** Preflight ********/
@import url("./preflight.css");

/******** Vue and Alpine ********/
[v-cloak],
[x-cloak] {
    @apply !hidden;
}
[x-cloak="mobile"] {
    @apply !hidden lg:!block;
}

/******** Containers ********/

/* Create root padding class */
.px-root {
    @apply pr-root-right pl-root-left;
}
/* Match tailwind and WordPress containers */
.container {
    @apply mx-auto px-root;
    max-width: calc(var(--wp--style--global--content-size) + var(--wp--style--root--padding-left) + var(--wp--style--root--padding-right));
}

/******** Blocks *********/

/* Typography */
[class*="space-y"] :is(h1, h2, h3, h4, h5, h6) {
    @apply mb-0;
}

/* Button */
.wp-block-button > .wp-block-button__link,
.wp-block-post-excerpt__more-link {
    @apply inline-block border transition duration-300 ease-in-out;
}
.wp-block-button.is-style-white-fill > .wp-block-button__link {
    @apply border-white bg-white text-black;
}
.wp-block-button.is-style-black-outline > .wp-block-button__link {
    @apply border-black bg-white text-black;
}
.wp-block-button > .wp-block-button__link:hover,
.wp-block-post-excerpt__more-link:hover {
    @apply border-dark-greige bg-dark-greige text-black;
}
.back-link {
    @apply inline-block pl-6 bg-no-repeat bg-left bg-[length:14px_14px];
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+PGcgY2xpcC1wYXRoPSJ1cmwoI2EpIj48cGF0aCBmaWxsPSIjMDAwIiBkPSJNMTMuMTI2IDEzLjU2MlYxNEgxNFY2LjU2MkgxLjQ5M0w0LjI0OCAzLjgxbC4zMS0uMzEtLjYxOS0uNjE3LS4zMDkuMzA5LTMuNSAzLjVMLS4xOCA3bC4zMS4zMDkgMy41IDMuNS4zMDguMzA5LjYxOC0uNjE4LS4zMDktLjMxLTIuNzUzLTIuNzUzaDExLjYzMnY2LjEyNVoiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDE0djE0SDB6Ii8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+");
}
.wp-block-post-excerpt__more-link {
    @apply px-6 py-3 border border-black bg-black text-white;
}

/* Separator */
.wp-block-separator {
    @apply border;
}

/* Navigation */
.navigation-block .primary-item > .link-item {
    @apply lg:text-md lg:font-medium;
}
.navigation-block .secondary-item > .link-item {
    @apply lg:text-dark-grey;
}
.navigation-block .primary-item + .secondary-item {
    @apply lg:ml-auto;
}
.wp-block-acf-navigation {
    @apply max-lg:order-last lg:grow;
}

/******** Template Parts ********/

/* Header */
header.wp-block-template-part {
    @apply relative;
}
header.wp-block-template-part > .wp-block-group {
    @apply relative z-10;
}
.wp-block-site-logo.header-logo {
    @apply max-lg:mr-auto;
}

/* Footer */
footer.wp-block-template-part {
    @apply my-0;
}
footer.wp-block-template-part :is(.has-text-align-center, .has-text-align-right) {
    @apply max-md:text-left;
}
footer.wp-block-template-part .is-content-justification-right {
    @apply max-md:justify-start;
}
footer.wp-block-template-part .aligncenter {
    @apply max-md:!ml-0;
}

/******** Swiper ********/

.editor-styles-wrapper .swiper .swiper-wrapper {
    @apply overflow-x-auto;
}
.editor-styles-wrapper .swiper .swiper-slide > a {
    @apply pointer-events-none;
}

/******** WooCommerce ********/

/* General */
.woocommerce .woocommerce-breadcrumb {
    @apply mb-0 tracking-wider;
}
.woocommerce .col2-set .col-2 {
    @apply max-md:mt-lg;
}

/* Forms */
.woocommerce form label {
    @apply mb-2.5 text-sm font-medium;
}
.woocommerce form .input-text {
    @apply p-3 border border-black rounded-[3px] text-base;
}
.woocommerce form .form-row {
    @apply mb-xs;
}
.woocommerce form .form-row-first, 
.woocommerce form .form-row-last {
    @apply w-full lg:w-[calc(50%-(var(--wp--preset--spacing--sm)*0.5))];
}
.woocommerce form fieldset legend {
    @apply mb-2.5 text-base font-medium;
}
.woocommerce form :is(input[type="radio"], input[type="checkbox"]) {
    @apply mr-1 accent-current;
}
.woocommerce form :is(input[type="radio"], input[type="checkbox"]) + span {
    @apply text-base font-normal;
}
.woocommerce form .woocommerce-privacy-policy-text + .form-row {
    @apply mt-xs;
}
.woocommerce input::-webkit-outer-spin-button,
.woocommerce input::-webkit-inner-spin-button {
  @apply appearance-none m-0;
}
.woocommerce input[type=number] {
  @apply [appearance:textfield];
}

/* Archive */
.wc-block-components-product-image {
    @apply aspect-[392/480];
}
.wc-block-components-product-image > a {
    @apply block h-full;
}
.wc-block-components-product-image > a > img {
    @apply w-full h-full object-cover;
}
.wp-block-woocommerce-product-collection .wc-block-product-template,
.wp-block-woocommerce-related-products .wp-block-query .products-block-post-template.wp-block-post-template-is-layout-grid {
    @apply gap-y-sm max-lg:grid-cols-2;
}
.wp-block-woocommerce-product-collection .wp-block-query-pagination {
    @apply mt-md;
}
.term-banner {
    @apply relative overflow-hidden;
}
.term-banner::before {
    @apply content-[''] absolute inset-0 min-h-[710px] bg-lightest-grey bg-no-repeat bg-[center_top] bg-[length:auto_100%] z-[-1] max-lg:!bg-none;
}
.term-banner .wp-block-term-description {
    @apply md:max-w-[475px];
}
.banner-essentials .term-banner::before {
    @apply bg-light-greige;
    background-image: url("../images/backgrounds/banner-essentials.svg");
}
.banner-essentials-home .term-banner::before {
    @apply bg-light-blue;
    background-image: url("../images/backgrounds/banner-essentials-home.svg");
}

/* Product */
.wp-block-group.woocommerce.product {
    @apply my-0;
}
.woocommerce div.product form.cart {
    @apply mb-0;
}
.woocommerce div.product form.cart .woocommerce-variation-add-to-cart .wapf,
.woocommerce div.product form.cart .woocommerce-variation.single_variation {
    @apply !hidden;
}
.woocommerce div.product form.cart .woocommerce-variation-add-to-cart .quantity {
    @apply w-full flex items-center border border-black justify-between;
}
.quantity-label {
    @apply flex-1 py-2 px-6;
}
.woocommerce div.product form.cart .woocommerce-variation-add-to-cart .quantity .qty {
    @apply w-[5rem] mr-0 py-4 border-0 border-l rounded-none bg-transparent font-medium;
}
.woocommerce div.product form.cart .woocommerce-variation-add-to-cart .single_add_to_cart_button {
    @apply w-full;
}

/* Cart */
.wc-block-components-product-name {
    @apply mb-1 text-base font-medium;
}
.wc-block-components-product-metadata {
    @apply text-dark-grey text-sm;
}
table.wc-block-cart-items .wc-block-cart-items__header .wc-block-cart-items__header-image {
    @apply pl-4 w-[180px] text-left
}
table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__image {
    @apply pr-4;
}
table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name {
    @apply mb-1;
}
table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-metadata .wc-block-components-product-details__name {
    @apply font-normal;
}
table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity {
    @apply flex flex-wrap items-center gap-4;
}
table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-components-quantity-selector {
    @apply mb-0;
}
.wc-block-cart .wc-block-cart__sidebar {
    @apply mb-0;
}
.wp-block-woocommerce-cart-order-summary-block {
    @apply p-sm pb-xs bg-lightest-grey;
}
.wp-block-woocommerce-proceed-to-checkout-block {
    @apply p-sm pt-0 bg-lightest-grey;
}
.wc-block-cart__submit {
    @apply mb-0
}
.is-small table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__product,
.is-mobile table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__product {
    @apply pr-4;
}

/* Minicart */
.wc-block-mini-cart__drawer .wc-block-mini-cart__title {
    @apply text-lg;
}
.wc-block-mini-cart__drawer .wc-block-components-product-price {
    @apply text-sm;
}

/* Checkout */
.wp-block-woocommerce-checkout {
    @apply pt-0;
}
.wp-block-woocommerce-checkout .wc-block-components-sidebar-layout {
    @apply mb-0;
}
.wp-block-woocommerce-checkout .wc-block-components-sidebar {
    @apply mt-0;
}
.wp-block-woocommerce-checkout-order-summary-block {
    @apply p-sm bg-lightest-grey;
}
.wc-block-components-order-summary .wc-block-components-order-summary-item__image {
    @apply md:hidden xl:block;
}
.wc-block-components-order-summary .wc-block-components-order-summary-item__description {
    @apply md:pl-0 pr-4 xl:pl-6;
}
.wc-block-components-order-summary .wc-block-components-order-summary-item__individual-prices {
    @apply pt-0;
}
.wc-block-components-order-summary .wc-block-components-order-summary-item__total-price {
    @apply text-base font-normal;
}
.wc-block-components-totals-footer-item .wc-block-components-totals-item__label {
    @apply text-md;
}
.wc-block-components-order-summary .wc-block-components-order-summary-item__quantity {
    @apply border-0 shadow-none bg-black text-white;
}
.is-large .wc-block-checkout__actions {
    @apply pb-0;
}

/* Order Confirmation */
.wc-block-order-confirmation-totals .wc-block-order-confirmation-totals__product a {
    @apply font-medium;
}
.wc-block-order-confirmation-totals .wc-block-order-confirmation-totals__product .wc-item-meta {
    @apply mt-1 text-dark-grey text-sm;
}
.wc-block-order-confirmation-totals .wc-block-order-confirmation-totals__product .wc-item-meta .wc-item-meta-label {
    @apply font-normal;
}

/* Account - Log In */
.woocommerce-log-in .entry-content > .wp-block-group {
    @apply max-w-[700px];
}
.woocommerce-log-in h2 {
    @apply hidden;
}
.woocommerce-log-in form.login, 
.woocommerce-log-in form.register {
    @apply m-0 p-sm border-0 rounded-none bg-lightest-grey;
}
.woocommerce-log-in form.login .input-text,  
.woocommerce-log-in form.register .input-text {
    @apply border-0;
}
.woocommerce-log-in .request-account-button .wp-element-button {
    @apply mt-sm w-full text-center;
}

/* Account - Dashboard */
.woocommerce-account main .woocommerce {
    @apply max-w-full;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    @apply p-sm w-full bg-lightest-grey lg:w-[240px];
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
    @apply m-0 space-y-xs;
}
.woocommerce-account .woocommerce-MyAccount-navigation li {
    @apply p-0;
}
.woocommerce-account .woocommerce-MyAccount-navigation li a {
    @apply text-md;
}
.woocommerce-account .woocommerce-MyAccount-content {
    @apply mt-lg w-full lg:m-0 lg:w-[calc(100%-(240px+var(--wp--preset--spacing--lg)))];
}

/* Account - Orders */
.woocommerce-account table.my_account_orders {
    @apply text-base;
}
.woocommerce-account table.my_account_orders thead {
    @apply bg-lightest-grey;
}
.woocommerce-account table.my_account_orders tbody {
    @apply text-dark-grey;
}
.woocommerce-account table.my_account_orders a {
    @apply font-medium underline;
}
.woocommerce-account table.my_account_orders .wp-element-button {
    @apply inline-block m-0 p-0 bg-transparent text-black;
}
.woocommerce-account table.my_account_orders .wp-element-button + .wp-element-button {
    @apply ml-2;
}

/* Account - View Order */
.woocommerce-page .woocommerce-column__title, 
.woocommerce-page .woocommerce-customer-details h2 {
    @apply text-lg font-medium;
}
.woocommerce-account table.order_details .product-name a {
    @apply font-medium;
}
.woocommerce-account table.order_details .wc-item-meta {
    @apply mt-1 p-0 text-dark-grey text-sm;
}
.woocommerce-account table.order_details .wc-item-meta .wc-item-meta-label {
    @apply font-normal;
}
.woocommerce-account table.order_details .wc-item-meta p {
    @apply m-0;
}

/******** Search and Filter ********/
.searchandfilter {
    @apply border-t border-mid-grey;
}
.searchandfilter ul {
    @apply p-0;
}
.searchandfilter > ul > li {
    @apply py-5 border-b border-mid-grey;
}
.searchandfilter > ul > li li {
    @apply py-1;
}
.searchandfilter h4 {
    @apply mb-3 p-0 text-base;
}
.searchandfilter li[data-sf-field-input-type=radio] input {
    @apply absolute w-0 h-0 opacity-0;
}
.searchandfilter li[data-sf-field-input-type=radio] label {
    @apply relative flex pl-5 bg-no-repeat bg-[length:12px_12px] bg-[left_top_0.25rem] cursor-pointer;
    background-image: url("../images/icons/checkbox-unchecked.svg");
}
.searchandfilter li[data-sf-field-input-type=radio] input:checked + label {
    background-image: url("../images/icons/checkbox-checked.svg");
}
.searchandfilter li[data-sf-field-input-type=radio] label .sf-count {
    @apply flex-none ml-auto pl-2.5 font-mono;
}

/******** Gravity Forms ********/
.gform_wrapper.gravity-theme {
    @apply mt-0;
}
.gform_wrapper.gravity-theme form .gform_fields {
	@apply gap-x-sm gap-y-xs;
}
.gform_wrapper.gravity-theme form .gfield_label {
	@apply mb-2.5 text-sm font-medium;
}
.gform_wrapper.gravity-theme form .gfield_label_before_complex {
	@apply hidden;
}
.gform_wrapper.gravity-theme form .ginput_complex label {
	@apply mb-2.5 p-0 text-sm font-medium;
}
.gform_wrapper.gravity-theme form input[type="text"], 
.gform_wrapper.gravity-theme form input[type="password"], 
.gform_wrapper.gravity-theme form input[type="email"], 
.gform_wrapper.gravity-theme form input[type="url"], 
.gform_wrapper.gravity-theme form input[type="date"], 
.gform_wrapper.gravity-theme form input[type="month"], 
.gform_wrapper.gravity-theme form input[type="time"], 
.gform_wrapper.gravity-theme form input[type="datetime"], 
.gform_wrapper.gravity-theme form input[type="datetime-local"], 
.gform_wrapper.gravity-theme form input[type="week"], 
.gform_wrapper.gravity-theme form input[type="number"], 
.gform_wrapper.gravity-theme form input[type="search"], 
.gform_wrapper.gravity-theme form input[type="tel"], 
.gform_wrapper.gravity-theme form input[type="color"], 
.gform_wrapper.gravity-theme form textarea, 
.gform_wrapper.gravity-theme form select {
	@apply p-3 border border-black rounded-[3px];
}
.gform_wrapper.gravity-theme form select {
	@apply appearance-none pr-10 bg-no-repeat bg-[right_12px_center] bg-[length:25px_25px];
	background-image: url("../images/icons/arrow-dropdown.svg"); 
}
.gform_wrapper.gravity-theme form input[type="radio"],
.gform_wrapper.gravity-theme form input[type="checkbox"] {
    @apply mr-1 accent-current;
}
.gform_wrapper.gravity-theme form .ginput_complex {
	@apply gap-xs;
}
.gform_wrapper.gravity-theme form .ginput_complex span {
	@apply mb-0;
}
.gform_wrapper.gravity-theme form .gform_drop_area button {
	@apply px-6 py-3 border border-mid-grey;
}
.gform_wrapper.gravity-theme form .gform_footer {
	@apply py-0 mt-xs;
}
.gform_wrapper.gravity-theme form input[type="submit"] {
	@apply mb-0 px-6 py-3 border border-black bg-black text-white cursor-pointer transition duration-300 ease-in-out;
}
.gform_wrapper.gravity-theme form input[type="submit"]:hover {
    @apply border-dark-greige bg-dark-greige text-black;
}
.gform_wrapper.gravity-theme form .gfield_contains_required label::after {
	@apply content-['*'];
}
.gform_wrapper.gravity-theme form .gfield_required {
	@apply hidden;
}
.gform_wrapper.gravity-theme form .field_description_above .gfield_description.gfield_validation_message {
	@apply mt-xs py-xs;
}
.gform_wrapper.gravity-theme.gform_validation_error .gform_validation_errors {
	@apply mt-0 mb-xs px-xs py-xs rounded-none text-base;
}
.gform_wrapper.gravity-theme.gform_validation_error .gform_validation_errors h2 {
	@apply text-md font-medium leading-normal;
}
.gform_wrapper.gravity-theme.gform_validation_error .gform_validation_errors > ol li,
.gform_wrapper.gravity-theme.gform_validation_error .gform_validation_errors > ol a {
	@apply text-base;
}

/******** Yoast ********/

.yoast-breadcrumbs {
    @apply font-mono text-xs uppercase tracking-wider;
}

/******** Editor ********/
.block-editor .edit-post-sidebar,
.block-editor-page .interface-complementary-area {
    @apply md:w-[380px];
}
.block-editor .edit-post-sidebar .acf-table .acf-row-handle,
.block-editor-page .interface-complementary-area .acf-table .acf-row-handle {
    @apply p-0;
}
.block-editor .edit-post-sidebar .acf-fields > .acf-field,
.block-editor-page .interface-complementary-area .acf-fields > .acf-field {
    @apply p-2.5;
}
.block-editor .edit-post-sidebar .acf-table .acf-link .link-wrap,
.block-editor-page .interface-complementary-area .acf-table .acf-link .link-wrap {
    @apply leading-normal;
}
.block-editor .edit-post-sidebar .acf-table .acf-link .link-wrap .link-title, 
.block-editor-page .interface-complementary-area .acf-table .acf-link .link-wrap .link-title {
    @apply p-0;
}