@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p:first-child {
		@apply mt-0;
	}
	p:last-child {
		@apply mb-0;
	}
    b, strong {
        @apply font-medium;
    }
}

/******** Preflight ********/
@import url("./preflight.css");

/******** Vue and Alpine ********/
[v-cloak],
[x-cloak] {
    @apply !hidden;
}
[x-cloak="mobile"] {
    @apply !hidden lg:!block;
}

/******** Containers ********/

/* Create root padding class */
.px-root {
    @apply pr-root-right pl-root-left;
}
/* Match tailwind and WordPress containers */
.container {
    @apply mx-auto px-root;
    max-width: calc(var(--wp--style--global--content-size) + var(--wp--style--root--padding-left) + var(--wp--style--root--padding-right));
}

/******** Blocks *********/

/* Typography */
[class*="space-y"] :is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: 0;
}

/* Button */
.wp-block-button > .wp-block-button__link,
.wp-block-post-excerpt__more-link {
    @apply transition duration-300 ease-in-out;
}
.wp-block-button.is-style-white-fill > .wp-block-button__link {
    @apply border-white bg-white text-black;
}
.wp-block-button.is-style-black-outline > .wp-block-button__link {
    @apply border-black bg-white text-black;
}
.wp-block-button > .wp-block-button__link:hover,
.wp-block-post-excerpt__more-link:hover {
    @apply border-dark-greige bg-dark-greige text-black;
}
.back-link {
    @apply inline-block pl-6 bg-no-repeat bg-left bg-[length:14px_14px];
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+PGcgY2xpcC1wYXRoPSJ1cmwoI2EpIj48cGF0aCBmaWxsPSIjMDAwIiBkPSJNMTMuMTI2IDEzLjU2MlYxNEgxNFY2LjU2MkgxLjQ5M0w0LjI0OCAzLjgxbC4zMS0uMzEtLjYxOS0uNjE3LS4zMDkuMzA5LTMuNSAzLjVMLS4xOCA3bC4zMS4zMDkgMy41IDMuNS4zMDguMzA5LjYxOC0uNjE4LS4zMDktLjMxLTIuNzUzLTIuNzUzaDExLjYzMnY2LjEyNVoiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDE0djE0SDB6Ii8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+");
}
.wp-block-post-excerpt__more-link {
    @apply px-6 py-3 border border-black bg-black text-white;
}

/* Separator */
.wp-block-separator {
    @apply border;
}

/* Navigation */
.navigation-block .primary-item > .link-item {
    @apply lg:text-md lg:font-medium;
}
.navigation-block .secondary-item > .link-item {
    @apply lg:text-dark-grey;
}
.navigation-block .primary-item + .secondary-item {
    @apply lg:ml-auto;
}
.wp-block-acf-navigation {
    @apply max-lg:order-last lg:grow;
}

/******** Template Parts ********/

/* Header */
header.wp-block-template-part {
    @apply relative;
}
header.wp-block-template-part > .wp-block-group {
    @apply relative z-10;
}
.wp-block-site-logo.header-logo {
    @apply max-lg:mr-auto;
}

/* Footer */
footer.wp-block-template-part {
    @apply my-0;
}
footer.wp-block-template-part :is(.has-text-align-center, .has-text-align-right) {
    @apply max-md:text-left;
}
footer.wp-block-template-part .is-content-justification-right {
    @apply max-md:justify-start;
}
footer.wp-block-template-part .aligncenter {
    @apply max-md:!ml-0;
}

/******** Swiper ********/

.editor-styles-wrapper .swiper .swiper-wrapper {
    @apply overflow-x-auto;
}
.editor-styles-wrapper .swiper .swiper-slide > a {
    @apply pointer-events-none;
}

/******** WooCommerce ********/

/* General */
.woocommerce .woocommerce-breadcrumb {
    @apply mb-0;
}
.woocommerce .woocommerce-Price-amount {
    @apply text-sm;
}

/* Archive */
.wc-block-components-product-image {
    @apply aspect-[392/480];
}
.wc-block-components-product-image > a {
    @apply block h-full;
}
.wc-block-components-product-image > a > img {
    @apply w-full h-full;
}
.wp-block-woocommerce-product-collection .wc-block-product-template,
.wp-block-woocommerce-related-products .wp-block-query .products-block-post-template.wp-block-post-template-is-layout-grid {
    @apply gap-y-sm max-lg:grid-cols-2;
}
.wp-block-woocommerce-product-collection .wp-block-query-pagination {
    @apply mt-md;
}
.term-banner {
    @apply relative overflow-hidden;
}
.term-banner::before {
    @apply content-[''] absolute inset-0 min-h-[710px] bg-lightest-grey bg-no-repeat bg-[center_top] bg-[length:auto_100%] z-[-1] max-lg:!bg-none;
}
.term-banner .wp-block-term-description {
    @apply md:max-w-[475px];
}
.banner-essentials .term-banner::before {
    @apply bg-light-greige;
    background-image: url("../images/backgrounds/banner-essentials.svg");
}
.banner-essentials-home .term-banner::before {
    @apply bg-light-blue;
    background-image: url("../images/backgrounds/banner-essentials-home.svg");
}

/* Product */
.wp-block-group.woocommerce.product {
    @apply my-0;
}

.woocommerce div.product form.cart  {
    @apply mb-0;
}

.woocommerce div.product form.cart .woocommerce-variation.single_variation {
    @apply !hidden;
}

.woocommerce div.product form.cart .woocommerce-variation-add-to-cart .quantity {
    @apply w-full flex items-center border border-black justify-between;
}

.quantity-label {
    @apply flex-1 py-2 px-6;
}

.woocommerce div.product form.cart .woocommerce-variation-add-to-cart .quantity .qty {
    @apply w-[5rem] mr-0 py-4 border-l border-black;
}

.woocommerce div.product form.cart .woocommerce-variation-add-to-cart .single_add_to_cart_button {
    @apply w-full;
}

    /******** Search and Filter ********/
.searchandfilter {
    @apply border-t border-mid-grey;
}
.searchandfilter ul {
    @apply p-0;
}
.searchandfilter > ul > li {
    @apply py-5 border-b border-mid-grey;
}
.searchandfilter > ul > li li {
    @apply py-1;
}
.searchandfilter h4 {
    @apply mb-3 p-0 text-base;
}
.searchandfilter li[data-sf-field-input-type=radio] input {
    @apply absolute w-0 h-0 opacity-0;
}
.searchandfilter li[data-sf-field-input-type=radio] label {
    @apply relative flex pl-5 bg-no-repeat bg-[length:12px_12px] bg-[left_top_0.25rem] cursor-pointer;
    background-image: url("../images/icons/checkbox-unchecked.svg");
}
.searchandfilter li[data-sf-field-input-type=radio] input:checked + label {
    background-image: url("../images/icons/checkbox-checked.svg");
}
.searchandfilter li[data-sf-field-input-type=radio] label .sf-count {
    @apply flex-none ml-auto pl-2.5 font-mono;
}

/******** Editor ********/
.block-editor .edit-post-sidebar,
.block-editor-page .interface-complementary-area {
    @apply md:w-[380px];
}
.block-editor .edit-post-sidebar .acf-table .acf-row-handle,
.block-editor-page .interface-complementary-area .acf-table .acf-row-handle {
    @apply p-0;
}
.block-editor .edit-post-sidebar .acf-fields > .acf-field,
.block-editor-page .interface-complementary-area .acf-fields > .acf-field {
    @apply p-2.5;
}
.block-editor .edit-post-sidebar .acf-table .acf-link .link-wrap,
.block-editor-page .interface-complementary-area .acf-table .acf-link .link-wrap {
    @apply leading-normal;
}
.block-editor .edit-post-sidebar .acf-table .acf-link .link-wrap .link-title, 
.block-editor-page .interface-complementary-area .acf-table .acf-link .link-wrap .link-title {
    @apply p-0;
}